// _variables.scss
$primary-color: $light-cream;      // your light color
$secondary-color: $brown;    // your dark color
$tertiary-color: $light_gold;       // optional accent
$fourth-color: $light-grey;


$light-cream: #FCEBD2;
$brown: #624230;
$light-grey: #DAD9D9;
$black: #2B2B2B;
$light_gold: #C9AA7E;
