// _variables.scss
$primary-color: #FCEBD2;      // your light color
$secondary-color: #624230;    // your dark color
$tertiary-color: #C9AA7E;       // optional accent
$fourth-color: #DAD9D9;
$black: #2B2B2B;
$white: #ffffff;

$title-font:"Roboto Serif", serif;
$normal-font: "Inter", sans-serif;
