// _variables.scss
$primary-color: #FCEBD2;      // your light color
$secondary-color: #624230;    // your dark color
$tertiary-color: #C9AA7E;       // optional accent
$fourth-color: #2B2B2B;
$fifth-color: #DAD9D9;
$Sixth-color: #ffffff;
