@import './variables.scss';

.about {
  width: 100%;
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: center;
}

.about-content {
  max-width: 700px;
  text-align: center;
}

.about-content h1 {
  font-family: $title-font;
  font-size: 1.8rem;
  font-weight: 300;
  color: $secondary-color;
  margin-bottom: 1rem;
}

.about-content p {
  font-family: $normal-font;
  font-size: 1rem;
  color: $secondary-color;
  line-height: 1.6;
}
