@import './variables.scss';

.footer {
  width: 100%;
  padding: clamp(1.5rem, 3vw, 3rem) 1.5rem;
  background: $tertiary-color;
  color: #fff;
  text-align: center;
}

.footer h1 {
  font-family: $title-font;
  color: $secondary-color;
  font-size: clamp(1.4rem, 3vw, 1.8rem);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.footer h2 {
  font-family: $normal-font;
  color: $secondary-color;
  font-size: clamp(0.9rem, 2vw, 1rem);
  font-weight: 400;
}
