@import './variables.scss';

.footer {
  width: 100%;
  padding: 2rem 1.5rem;
  background: #222;
  color: #fff;
  text-align: center;
}

.footer h1 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.footer h2 {
  font-size: 1rem;
  font-weight: 400;
  color: #ccc;
}
