@import './variables.scss';

.footer {
  width: 100%;
  padding: 2rem 1.5rem;
  background: $tertiary-color;
  color: #fff;
  text-align: center;
}

.footer h1 {
  font-family: $title-font;
  color: $secondary-color;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.footer h2 {
  font-family: $normal-font;
  color: $secondary-color;
  font-size: 1rem;
  font-weight: 400;
}
