@import './variables.scss';

.gallery {
  width: 100%;
  padding: 3rem 1.5rem;
  text-align: center;
}

.gallery-header h1 {
  font-family: $title-font;
  font-size: 1.8rem;
  font-weight: 300;
  color:  $secondary-color;
  margin-bottom: 0.5rem;
}

.gallery-header h2 {
  font-family: $normal-font;
  font-size: 1rem;
  font-weight: 300;
  color:  $secondary-color;
  margin-bottom: 2rem;
}

/* Images stacked in a column */
.gallery-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

/* Each image square */
.gallery-item {
  width: 100%;
  max-width: 300px; // max size on mobile
  aspect-ratio: 1 / 1; // ensures square
  overflow: hidden;
  border-radius: 8px;

  &.gal2 img  {
    object-position: top;
  }
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; // image fills the square without stretching
}
