* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: #fff;
  color: #222;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
