@import './variables.scss';
@import "../styles/breakpoints.scss";

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("/hero_img.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Black transparent box */
.hero-overlay {
  background: rgba(98, 66, 48, 0.8); // #624230 with 0.8 opacity
  padding: clamp(1.5rem, 4vw, 3rem);
  max-width: 90%;
  text-align: center;
  color: $fourth-color;
  border-radius: 10px;
}

/* Text styling */
.hero-overlay h1 {
  font-family: $title-font;
  font-size: clamp(1.8rem, 5vw, 3rem);
  font-weight: 200;
  margin-bottom: 0.5rem;
}

.hero-overlay h2 {
  font-family: $title-font;
  font-size: clamp(1.2rem, 3.5vw, 2rem);
  font-weight: 200;
  margin-bottom: 1rem;
}

.hero-overlay p {
  font-family: $normal-font;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  font-weight: 300;
  margin-bottom: 1.5rem;
}

/* Button */
.hero-overlay button {
  padding: clamp(0.8rem, 2vw, 1rem) clamp(1.4rem, 3vw, 1.8rem);
  font-family: $normal-font;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  font-weight: bold;
  text-transform: uppercase;
  background: $primary-color;
  color: $secondary-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* Move overlay left on tablets/desktops */
@include respond($tablet) {
  .hero-overlay {
    margin-left: 50px;
    margin-right: auto;
    text-align: left;
    max-width: 60%;
  }
}

@include respond($desktop) {
  .hero-overlay {
    max-width: 50%;
  }
}
