@import './variables.scss';
@import "../styles/breakpoints.scss";

.services {
  width: 100%;
  padding: 3rem 1.5rem;
  text-align: center;
  background-color: $tertiary-color;
}

/* Image at the top */
.services-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 2rem;
}

/* Content */
.services-content h1 {
  font-family: $title-font;
  font-size: 1.8rem;
  font-weight: 300;
  color:  $secondary-color;
  margin-bottom: 1rem;
}

.services-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-content li {
  list-style: none;
  font-family: $normal-font;
  font-size: 1rem;
  font-weight: 300;
  color:  $secondary-color;
  margin-bottom: 0.8rem;
  position: relative;
  padding-left: 1.2rem;
}

/* Move overlay left on tablets/desktops */
@include respond($tablet) {
  #services {
    // max-width: 60%;
  }
}

@include respond($desktop) {
  #services {
    padding: unset;
    display: flex;
    align-items: center;
    gap: 20px;

    .services-image {
      img {
        display: block;
        margin-bottom: unset;
        max-width: 635px;
        border-radius: unset;
      }
    }
  }
}
